@import 'bootstrap';

.page-container {
  padding: 0 10vw;
}

.sort-container {
  height: 9.5vh;
  background: #F7F0E9;
  box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
  border-radius: 15px;
  margin-top: 5vh;
  display: flex;
  align-items: center;
}

.available-sort-container {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 39px;
  /* identical to box height */

  text-align: center;

  margin-left: 2.6vw;

  color: #593C1C;
}

.toggle-sort-container {
  margin-left: 1.6vw;
  width: 4.1vw;
  height: 3.5vh;
}

.sort-by-sort-container {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */

  text-align: center;

  margin-left: 23.8vw;

  color: #593C1C;
}


.sort-name-notselectedButton {
  width: 7.8vw;
  height: 4.2vh;
  border-radius: 15px;
  margin-left: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  background-color: #F7F0E9;
  color: #909090;
}
.sort-name-selectedButton  {
  width: 7.8vw;
  height: 4.2vh;
  border-radius: 15px;
  margin-left: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  background-color: #A97B47;
  color: #FFFFFF;
}

.category-sort-container-notselectedButton {
  width: 7.8vw;
  height: 4.2vh;
  border-radius: 15px;
  margin-left: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  background-color: #F7F0E9;
  color: #909090;
}

.category-sort-container-selectedButton {
  width: 7.8vw;
  height: 4.2vh;
  border-radius: 15px;
  margin-left: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  background-color: #A97B47;
  color: #FFFFFF;
}

.category-sort-container-notselectedButton {
  width: 7.8vw;
  height: 4.2vh;
  border-radius: 15px;
  margin-left: 3.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  background-color: #F7F0E9;
  color: #909090;
}

.products-container {
  margin-top: 2.5vh;
}

.products-container .row {
  margin: 0;
  margin-bottom: 2.5vh;
}

.product {
  width: 18.2vw;
  height: 44.4vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
  border-radius: 15px;
  margin: 0 0.9vw;
  padding: 0;

}

.product .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 3.6;
  /* identical to box height */

  margin-top: 1.5vh;
  margin-left: 0.7vw;


  color: #593C1C;
}

.product .stock {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.01vh;

  margin-top: 0.4vh;
  margin-left: 1.5vw;
  color: #C82525;
}

.product img {
  width: 17.1vw;
  height: 29.6vh;
}

.product .actions {
  display: flex;
  margin-top: 1.8vh;

}

.product .price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  margin-left: 1.9vw;
  color: #593C1C;
}

.product .add-to-cart {
  width: 7.8vw;
  height: 4.6vh;
  border: 1px solid #593C1C;
  border-radius: 15px;

  margin-left: 3.8vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product .add-to-cart span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;

  color: #593C1C;
}