.page-container {}


.info {
    width: 83.1vw;
    height: 32.3vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-top: 8.2rem;
    margin-left: 7.1rem;
    display: flex;
}

.info .information {

    width: 40.1vw;
    height: 32.3vh;
    margin-right: 8vw;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

}

.info .information img {
    margin-left: 1.8vw;
    margin-top: 3.5vh;
}

.info .information span {

    width: 5.6vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    margin-left: 2.1vw;
    color: #493117;
}

.info .credit {

    width: 43vw;
    height: 32.3vh;
    margin-right: 15vh;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

}

.info .credit span {
    width: 34.3vw;
    height: 14.3vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 155px;
    margin-left: 7vw;
    color: #593C1C;
}

.info .credit .amount {
    box-sizing: border-box;
    width: 37.8vw;
    height: 5.2vh;
    background: #FFFFFF;
    border: 1px solid #919191;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-left: 2.9vw;
}

.info .credit .amount span {
    width: 5.6vw;
    height: 2.6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    margin-left: 14vw;
    color: #919191;
}

.info .credit .add-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.8vw;
    height: 5.2vh;
    background: #593C1C;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-left: 2.9vw;
    margin-top: 1.2vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    color: #FFFFFF;
}

/* .info .credit .add-credit {
    width: 37.8vw;
    height: 5.2vh;
    font-family: 'Inter';
    font-style: normal;
    position: 'center';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 6vh !important;
    /* identical to box height 
    margin-left: 13.5vw;

    color: #FFFFFF;
} */

.cart-box {

    width: 83.1vw;
    height: 1.3vh;
    margin-top: 8.2rem;



}

.cart-box span {
    width: 4.4vw;
    height: 4.4vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 48px;
    text-align: center;
    margin-right: 4vw;
    margin-top: 90vh;
    color: #593C1C;

}

.topic-box {
    width: 83.1vw;
    height: 6.9vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-top: 4.2vh;

    display: flex;
    align-items: center;
}

.topic-box .image span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 2.8vw;
}

.topic-box .name span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 4vw;
}

.topic-box .cate span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 6.4vw;
}

.topic-box .price span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 7.8vw;
}

.topic-box .provider span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 3.9vw;
}

.topic-box .rating span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 2.7vw;
}

.topic-box .stock span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 4.4vw;
}

.topic-box .in-cart span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 6.2vw;
}

.topic-box .quantity span {
    width: 4.3vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-left: 6.2vw;
}

.buylist {
    width: 83vw;
    height: 13.8vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    margin-top: 3.3vh;
    display: flex;
    align-items: center;

}

.buylist img {
    width: 6.5vh;
    height: 9.2vh;
    background: #FFFFFF;
    /* background: url(image.png); */
    margin-left: 1.6vw;
}

.buylist .name span {
    width: 7.7vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 1.4vw;
}

.buylist .cate span {
    width: 13.4vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 3.4vw;
}

.buylist .price span {
    width: 8.4vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 3.6vw;
}

.buylist .provider span {
    width: 3.5vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 3.6vw;
}

.buylist .rating span {
    width: 2.9vw;
    height: 4vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFC700;
    margin-left: 6vw;
}

.buylist .in-stock span {
    width: 1.8vw;
    height: 4vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;

    color: #C82525;
    margin-left: 6.8vw;
}

.buylist .in-cart {
    box-sizing: border-box;


    width: 10.4vw;
    height: 7.4vh;
    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;
    margin-left: 8.6vw;
    display: flex;
    align-items: center;
}

.buylist .in-cart span {
    width: 0.6vw;
    height: 3.5vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-left: 2vw;
}

.pay {
    width: 37.8vw;
    height: 5.2vh;
    background: #593C1C;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-left: 20.8vw;
    margin-top: 5.2vh;
    display: flex;

}

.pay span {
    width: 5.4vw;
    height: 2.6vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    /* identical to box height */
    color: #FFFFFF;
    margin-left: 16.3vw;
    margin-bottom: 1.2vh;
}

.history-box {

    width: 83.1vw;
    height: 1.3vh;
    margin-top: 8.2rem;


}

.history-box span {
    width: 4.4vw;
    height: 4.4vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 48px;
    text-align: center;
    margin-left: 0.4vw;
    margin-top: 90vh;
    color: #593C1C;

}

.history {
    width: 83vw;
    height: 13.8vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-left: 4.1vw;
    margin-top: 3.3vh;
    display: flex;
    align-items: center;

}

.history img {
    width: 6.5vh;
    height: 9.2vh;
    /* background: url(image.png); */
    background: #FFFFFF;
    margin-left: 1.6vw;
}

.history .name span {
    width: 7.7vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 2.6vw;
}

.history .cate span {
    width: 13.4vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 6vw;
}

.history .price span {
    width: 8.4vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 8.8vw;
}

.history .provider span {
    width: 3.5vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 5.6vw;
}

.history .rating span {
    width: 2.9vw;
    height: 4vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFC700;
    margin-left: 7.5vw;
}

.history .in-stock span {
    width: 1.8vw;
    height: 4vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;

    color: #C82525;
    margin-left: 7.2vw;
}

.history .quantity span {

    width: 1vw;
    height: 4vh44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;
    color: #919191;
    margin-left: 10.8vw;
}

.history2 {
    width: 83vw;
    height: 13.8vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-left: 4.1vw;
    margin-top: 3.3vh;
    display: flex;
    align-items: center;

}

.history2 img {
    width: 6.5vh;
    height: 9.2vh;
    background: #FFFFFF;
    /* background: url(image.png); */
    margin-left: 1.6vw;
}

.history2 .name span {
    width: 7.7vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 2.6vw;
}

.history2 .cate span {
    width: 13.4vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 3vw;
}

.history2 .price span {
    width: 8.4vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 5.8vw;
}

.history2 .provider span {
    width: 3.5vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    text-align: center;
    color: #919191;
    margin-left: 4.6vw;
}

.history2 .rating span {
    width: 2.9vw;
    height: 4vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFC700;
    margin-left: 6.1vw;
}

.history2 .in-stock span {
    width: 1.8vw;
    height: 4vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;

    color: #C82525;
    margin-left: 6.7vw;
}

.history2 .quantity span {

    width: 1vw;
    height: 4vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;
    color: #919191;
    margin-left: 10.1vw;
}