.cart-box {

    width: 83.1vw;
    height: 1.3vh;
    margin-top: 8.2rem;



}

.cart-box {
    height: 1.3vh;
}

.cart-box span {
    width: 4.4vw;
    height: 4.4vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 48px;
    text-align: center;
    margin-right: 4vw;
    margin-top: 90vh;
    color: #593C1C;

}

table {
    width: 83.1vw;
    margin-top: 8.2rem;
    border-collapse: collapse;
}

.topic-box {
    width: 83.1vw;
    height: 6.9vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-top: 4.2vh;

    display: flex;
    align-items: center;
}

.topic-box .image span,
.topic-box .name span,
.topic-box .cate span,
.topic-box .price span,
.topic-box .provider span,
.topic-box .rating span,
.topic-box .stock span,
.topic-box .in-cart span,
.topic-box .quantity span {
    font-size: 1.75rem;
    line-height: 34px;

    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    margin: 3vw;
    vertical-align:middle; 
}

.buylist {

    height: 13.8vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;

    margin-top: 3.3vh;
    display: flex;
    align-items: center;

}

.buylist img {
    width: 8.25vw;
    height: 9.15vh;
    margin:1vw;
    /* background: url(image.png); */

}

.buylist .name span,
.buylist .cate span,
.buylist .price span,
.buylist .provider span
 {
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;
    color: #919191;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    justify-content: center;
    margin: 4vw;
}

.buylist .rating span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    justify-content: center;
    /* identical to box height */

    text-align: center;

    color: #FFC700;
    margin: 4vw;
}

.buylist .in-stock span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;
    justify-content: center;

    color: #C82525;
    margin: 4vw;
}

.buylist .in-cart {
    box-sizing: border-box;


    width: 10.4vw;
    height: 7.4vh;
    background: #FFFFFF;
    border: 1px solid #593C1C;
    border-radius: 15px;
    margin: 4vw;
    display: flex;
    align-items: center;
}

.buylist .in-cart span {
    width: 0.6vw;
    height: 3.5vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 29px;
    text-align: center;
    color: #000000;

}

.empty-box {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    margin: 6vh;
    text-align: center;

    color: #A97B47;

}
