
.product {
    width: 18.2vw;
    height: 47.4vh;
    display: flex;
    background-color: #F5F5F5;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin: 0 0.9vw;
    padding: 0;
    
  }
  
  .product .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 3.6;
    /* identical to box height */
  
    margin-top: 1.5vh;
    margin-left: 0.7vw;
  
  
    color: #593C1C;
  }
  
  .product .stock {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.01vh;
  
    margin-top: 0.4vh;
    margin-left: 1.5vw;
    color: #C82525;
  }
  
  .product img {
    width: 17.1vw;
    height: 25.6vh;
  }
  
  .product .actions {
    display: flex;
    margin-top: 1.8vh;
  
  }
  
  .product .price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    /* identical to box height */
  
    text-align: center;
  
    margin-left: 1.9vw;
    color: #593C1C;
  }
  
  .product .add-to-cart {
    width: 7.8vw;
    height: 4.6vh;
    border: 1px solid #593C1C;
    border-radius: 15px;
  
    margin-left: 3.8vw;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product .add-to-cart span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    outline-color: #593C1C;
    color: #593C1C;
  }