
.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;

    position: relative;
    height: max-content;
    width: max-content;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
    border-radius: 15px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.discount-form {
    display: flex;
    flex-direction: row;

}

.discount-form label {
    font-weight: bold;
    margin-top: 2vh;
}

.discount-form input {
    margin: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display:block;
    margin: 1rem;

    border-radius: 2px;

  
}

.button-container button {

    border-radius: 2px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    justify-content: center;
    cursor: pointer;
    background-color: #593C1C !important;
}



.total-cost {
    text-decoration: line-through;
    color: red;
  }
.pay-button {
    padding: 5px 20px;

    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #593C1C !important;
    background: #593C1C;

}
.close-button {
    padding: 5px 20px;

    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red !important;
    background: #593C1C;
}
.buylist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-in-buylist {
    text-align: right;
    color: #000000;
  }
  
  .price-item-in-buylist {
    text-align: left;
    color: #A97B47;
  }