.search-box {
    width: 36.4vw;
    height: 6.2vh;
    background-color: #F7F0E9;
    border-radius: 15px;

    display: flex;
    align-items: center;
}

.search-box .category {
    width: 7.1vw;
    height: 6vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height:  3.07vh;
    text-align: center;
    color: #593C1C;
    background: #D8C1A8;
    mix-blend-mode: normal;
    border-radius: 15px;
    border-color: #D8C1A8;
    display: flex;
    align-items: center;
}

.search-box .category option {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0.9vw;
    border-radius: 50%;
    color: #593C1C;
    border:1px solid red;

}
.search-for {
    background-color: #F7F0E9;
    border-radius: 3%;
    width: 100%;
    border-color: #F7F0E9;
    margin-left: 1vw;
    height: 5vh;
}

.search-box img {
    width: 1.6vw;
    height: 2.9vh;
    margin-left: 12vw;
}
