.navbar {
  height: 10.7vh;
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
  display: flex;
  align-items: center;
}

.navbar .title {
  display: flex;
  align-items: center;

}

.navbar .title img {
  width: 5.3vw;
  height: 8.7vh;
  margin-left: 2.9vw;
  margin-right: 3px;
}

.navbar .title span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 51px;
  text-align: center;

  color: #A97B47;
}

.navbar .search-box {
  width: 36.4vw;
  height: 6.2vh;
  background-color: #F7F0E9;
  border-radius: 15px;

  display: flex;
  align-items: center;
}

.search-box .category {
  width: 7.1vw;
  height: 6.2vh;

  background: #D8C1A8;
  mix-blend-mode: normal;
  border-radius: 15px;

  display: flex;
  align-items: center;
}

.search-box .category span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  text-align: center;

  margin-left: 0.9vw;

  color: #593C1C;
}

.search-box span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  margin-left: 1.4vw;

  color: #919191;
}

.search-box img {
  width: 1.6vw;
  height: 2.9vh;
  margin-left: 12vw;
}

.navbar .auth-container {
  display: flex;
  align-items: center;

  margin-left: 11.5vw;
  margin-right: 2.1vw;
}

.navbar .auth-container .auth-button {
  width: 8.3vw;
  height: 6.0vh;

  background-color: #F7F0E9;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.7vw;
}

.navbar .auth-container .auth-button span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  /* identical to box height */


  color: #A97B47;

}

.navbar .username {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2vh;
  /* identical to box height */
  text-align: center;
  margin-left: 50vw;

  color: #593C1C;

}

.navbar .cart-box-container {
  width: 8.3vw;
  height: 4.7vh;
  background: #F7F0E9;
  opacity: 0.4;
  border-radius: 15px;
}

.navbar .cart-box-container .cart-box-cart {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;

  color: #593C1C;
}
.navbar .cart-box-container .cart-box-quantity{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  margin-left: 2vw;

  color: #593C1C;
}