
.auth-container {
    display: flex;
    align-items: center;

    margin-left: 11.5vw;
    margin-right: 2.1vw;
}

.auth-container .auth-button {
    width: 8.3vw;
    height: 6.0vh;

    background-color: #F7F0E9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.7vw;
}

.auth-container .auth-button button {
    border-radius: 13px;
    border: 1px solid #F7F0E9;
    padding: 4px 8px;
    background: #F7F0E9;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #A97B47;
    margin-right: 0.7vw;
}

.auth-container .auth-button span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 34px;
    /* identical to box height */


    color: #A97B47;

}

.username {
    width: 6.6vw;
    height: 3.1vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 34px;
    color: #593C1C;
    display: flex;
    margin-left: 75.8rem;
    margin-right: 3.3rem;
    margin-top: 0.5rem;
}

.cart-box-container {
    width: 8.3vw;
    height: 4.7vh;
    background: #593C1C;
    mix-blend-mode: normal;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-right: 2.1rem;
}

.cart-box-container .cart span {

    width: 3.1rem;
    height: 3.1rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 34px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #F7F0E9;
    margin-left: 0.6rem;
}

.cart-box-container .quantity span {

    width: 0.7rem;
    height: 3.1rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 34px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #F7F0E9;
    margin-right: 0.8rem;
    margin-left: 2.7rem;
}